# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
**/build/
**/bld/
**/[Bb]in/
**/[Oo]bj/
**/[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# nested folders
**/node_modules/*
**/*/*.pdsbak

# editors
.vs/
.vscode/
.idea/

*.DotSettings.user
clx.libplctag.NET.Tests/config.json
